services:
  # ================================
  # Database Services
  # ================================
  postgres:
    image: postgres:18.0-alpine3.22
    container_name: postgres_db
    restart: always
    command: -c config_file=/etc/postgresql/postgresql.conf
    environment:
      POSTGRES_USER: default
      POSTGRES_PASSWORD: password
    ports:
      - '5432:5432'
    volumes:
      - ./packages/postgresql/postgresql.conf:/etc/postgresql/postgresql.conf:ro
      - ./data/postgres_data:/var/lib/postgresql/18/data
    healthcheck:
      test: [CMD, pg_isready, -U, default]
      interval: 10s
      timeout: 5s
      retries: 3
      start_period: 5s

  # ================================
  # REST Services
  # ================================
  api-main:
    container_name: api-main
    build:
      context: .
      dockerfile: ./packages/api-main/Dockerfile
    image: ditherchat/api-main
    restart: always
    depends_on:
      postgres:
        condition: service_healthy
    environment:
      PG_URI: 'postgresql://default:password@postgres:5432/postgres'
      AUTH: dev
      JWT: dev-jwt-secret
    ports:
      - 3000:3000
    healthcheck:
      test: 'curl http://localhost:3000/v1/health  || exit 1'
      interval: 5s
      timeout: 3s
      retries: 30
      start_period: 10s

  # ================================
  # ChronoSync Service
  # ================================
  reader-main:
    container_name: reader-main
    build:
      context: .
      dockerfile: ./packages/reader-main/Dockerfile
    image: ditherchat/reader-main
    restart: always
    command: [bun, run, start]
    depends_on:
      postgres:
        condition: service_healthy
      api-main:
        condition: service_healthy
    environment:
      API_URLS: 'https://atomone-testnet-1-api.allinbits.services'
      START_BLOCK: '1979480'
      BATCH_SIZE: 500
      MEMO_PREFIX: dither.
      RECEIVER: atone1uq6zjslvsa29cy6uu75y8txnl52mw06j6fzlep
      API_ROOT: 'http://api-main:3000/v1'
      AUTH: dev
      COMMUNITY_ACCOUNT_V1: atone1uq6zjslvsa29cy6uu75y8txnl52mw06j6fzlep

      # Uncomment to enable fast sync
      # ECLESIA_GRAPHQL_ENDPOINT: "https://graphql-atomone-testnet-1.allinbits.services/v1/graphql"
      # ECLESIA_GRAPHQL_SECRET: ""

      # PG_URI: postgres://username:password@postgres-feed:5432/feed
      # LOG: process.env.LOG === 'true' ? true : false,

  # ================================
  # Gateway Service
  # ================================
  # nginx:
  #   image: nginx:latest
  #   volumes:
  #     - ./packages/nginx/default.conf:/etc/nginx/conf.d/default.conf:ro
  #   ports:
  #     - "80:80"
  #   depends_on:
  #     - postgres
  #     - api-main
