name: lint

on:
  pull_request:
    branches:
      - main
  workflow_dispatch:

jobs:
  api-main-test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Bun
        uses: oven-sh/setup-bun@v2
        with:
          bun-version: 1.3.2

      - name: Install dependencies
        run: bun install

      - name: Lint
        run: bun run lint
