name: test

on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  api-main-test:
    runs-on: ubuntu-latest
    services:
      postgres:
        image: postgres:15
        env:
          POSTGRES_USER: default
          POSTGRES_PASSWORD: password
          POSTGRES_DB: postgres
        ports:
          - 5432:5432
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Bun
        uses: oven-sh/setup-bun@v2
        with:
          bun-version: 1.3.2

      - name: Install dependencies
        run: bun install

      - name: Setup database schema
        working-directory: packages/api-main
        run: bun run db:push:force
        env:
          PG_URI: postgresql://default:password@localhost:5432/postgres

      - name: Run tests
        working-directory: packages/api-main
        run: bun run test
        env:
          NODE_OPTIONS: --experimental-global-webcrypto
          PG_URI: postgresql://default:password@localhost:5432/postgres
          JWT: default_jwt_secret
          JWT_STRICTNESS: lax
          AUTH: whatever
